body {
  background-color: #000;
  color: lightgray;
  font-size: 28px;
  font-family: 'Ubuntu Mono', 'noto mono';
  font-weight: 700;
}
#container {
  width: 900px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid blue;
  border-radius: 30px;
  padding: 20px;
}
#plansza {
  width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 48px;
  min-height: 60px;
}
#szubienica, #alfabet {
  float: left;
  width: 450px;
  text-align: center;
  min-height: 280px;
}

.litera {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid gray;
  float: left;
  cursor: pointer;
  border-radius: 15px;
}

.litera:hover {
  background-color: #222;
  color: white;
  border: 3px solid white;
}
.reset {
  color: blue;
  cursor: pointer;
  font-size: 48px;
}
.reset:hover {
  color: white;
}
.quot {
  color: green;
}
